# Object files
*.o
# Silicon Labs requires this specific .o file to be checked in, not part of the build output
!protocol/bluetooth/lib/*/GCC/binapploader.o
*.ko
*.obj
*.elf

# Compiler Artifacts
*.d
*.bin
*.map
*makefile
*.mk
*.axf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
# Silicon labs requires the set of closed source libraries here to be checked in, not part of the build output
!protocol/bluetooth/lib/*/GCC/*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Release Folders
GNU\ ARM*

# Temporary files
*~

# Swap files
*.swp

# Backup files
*.bak

# settings file
.settings

# Project import result
imported_project_report.html
